.commit {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($screen-lg) {
    flex-wrap: nowrap;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    flex-basis: 40px;
    flex-shrink: 0;
  }

  &__info-container {
    display: flex;
    flex-grow: 1;
    padding-bottom: 12px;
  }

  &__icon-container {
    position: relative;
    margin-bottom: 2px;
    padding-top: 100%;
    border-radius: 50%;
    background-color: var(--lightblue-1);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--accent-icon-color);
  }

  &__connector {
    width: 2px;
    height: 100%;
    min-height: 32px;
    align-self: center;
    border-radius: 10px;
    background-color: var(--gray-6);
  }

  &__message {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 500;
  }

  &__subject {
    margin-top: 0;
    margin-bottom: 4px;
  }

  &__meta {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__author {
    margin-left: 8px;
    color: var(--gray-9);
  }

  &__links {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: space-between;
    flex-basis: percentage(287 / 1376);
    flex-shrink: 0;
    margin-left: auto;
  }

  &__repo-state-icon {
    fill: var(--gray-7);
  }
}
